@tailwind base;
@tailwind components;
@tailwind utilities;

.About{
    width: 100vw;
   height: 90vh;
   display: flex;
   justify-content: space-between;
}
.aboutimg{

margin-right: 100px;
width: 51vw;
height: 100%;


}
.imgAbout{
margin-top: 80px;
margin-left: 100px;
height: 80%;
width: 80%;
background-image: url('./Images/introimg.PNG');
background-size: 100% 100%;
}
.aboutMe{

margin-top: 80px;
width: 49vw;
height: 100%;


}
.aboutI{
background: linear-gradient(to right,#ff5e69,#ffa84b);
background-clip: text;
color: transparent;
font-weight: 700;
font-size: 57px;
}